:root {
    --color-title: #000000;
    --color-text: #000000;
    
    --bgcolor-aktive: #FF6B01;
    --color-aktive: #FFFFFF;
}
.is-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

a {
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
}

.container {
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}



.logo {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: calc( 35px /30px );
 
        color: #FFFFFF;
}