.footer {
    position: relative;
height: 100px;
padding-top: 30px;
}
@media screen and (min-width: 768px) {
    .footer {
        height: 77px;
        padding-top: 0px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
    height: 77px;
    }
}

.footer-text {
font-weight: 400;
font-size: 14px;
line-height: calc(16px /14px);
align-items: center;
text-align: center;
}
@media screen and (min-width: 768px) {
    .footer-text {
    font-size: 16px;
        line-height: calc(19px /16px);
    }
}

@media screen and (min-width: 1280px) {
    .footer-text {
        font-size: 16px;
            line-height: calc(19px /16px);
    }
}
.icon-favorite {
    fill: #ff6b0a;
    width: 14px;
    height: 13px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 3px;
      cursor: pointer;
      animation-name: 'anime';
	
	animation-duration: 600ms;
	
	animation-iteration-count: infinite;
	
	animation-direction: alternate;
		
	animation-timing-function: ease-in;
@keyframes anime {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.3);
	}
}

  &:hover,
  &:focus {
    animation-play-state: paused;
  }
}
.footer-list {
    align-items: center;
    text-align: center;
    gap: 5px;
    height: 100px;
    justify-content: center;
   
}
@media screen and (min-width: 768px) {
    .footer-list {
        display: flex;
        height: 77px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-list {
        height: 77px;
    }
}

