.header_library {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library-background-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin: 0px auto;
    height: 230px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;

}

@media screen and (min-width: 768px) {
    .header_library {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library-background-tab.jpg);
        height: 216px;
    }
}

@media screen and (min-width: 1280px) {
    .header_library {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library-background.jpg);
        height: 216px;
    }
}

// .film {
//     width: 28px;
//     height: 24px;
//   position: relative;
//   bottom: 23px;
//     cursor: pointer;
// }

.navigation-main-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.navigation-list-ferst {
    display: flex;
    gap: 8px;
    padding-top: 40px;
}

.navigation-list-second {
    display: flex;
    gap: 40px;
    padding-top: 49px;
        @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 10px;
    }

}

.nav-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14px /12px);
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.nav-logo {
    font-weight: 500;
    font-size: 30px;

    line-height: calc(35px /30px);
    display: none;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .nav-logo {
        display: flex;
    }
}

.aktive {
    position: relative;
}

.aktive::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #FF001B;
    // border-radius: 5px;
    left: 0;
    bottom: -3px;
}

.btn-list {
    display: flex;
    margin-top: 33px;
    justify-content: center;
}

.watched-btn {
    outline: none;
    border: 1px solid #ffffff;

    &:hover, &:focus {
        background-color: var(--bgcolor-aktive);
        border: none;
    }
}

.queue-btn {
margin-left: 16px;

border: 1px solid #ffffff;

    &:hover, &:focus {
        background-color: var(--bgcolor-aktive);
        border: none;
    }
}

.loader-wrap {
    position: fixed;
    top: 0;
    z-index: 1001;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: #303030;

    transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.loader {
    width: 100px;
    height: 100px;
}

//--------------------------------------------firebase-sector------------------------------------
//-----------------------------------------------------------------------------------------------
.main-library {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;

    
}

.flex {
    display: flex;
    gap: 5px;
}
.auth-button {
    display: flex;
    gap: 5px;
    background-color: transparent;
    border: none;
    outline: none;

    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &::before {
        content: '';
        
    }

    &:hover {
        color: #ff001b;
    }
}
.auth-button__icon {
    fill: currentColor;
}

.das-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleX(0);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #0000005b;
    transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.backdrop__close {
    position: absolute;
    top: 1%;
    left: 88%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #303030;
    background-color: transparent;
    color: #303030;
    transform: rotate(0);

    transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    border 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        color: #ffffff;
        background-color: var(--bgcolor-aktive);
        border: none;
        transform: rotate(360deg);
    }
}
.backdrop__close-icon {
    fill: currentColor;
}
.auth-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    opacity: 1;

    width: 400px;
    height: 500px;

    background-color: #ffffff;
    border-radius: 20px;

    transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .backdrop.das-hidden & {
        transform: scale(0) rotate(180deg);
    }
}
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 130px;

}
.auth-form__label {
    display: flex;
    flex-direction: column;

color: #000000;
    > input {
        outline: none;
        border: none;
        border-bottom: 1px solid #303030;
    }
}
.auth-form__email {
    transition: border 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);


    &:hover, &:focus {
        border-bottom: 1px solid var(--bgcolor-aktive);
    }
}
.auth-form__password {
    transition: border 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover, &:focus {
        border-bottom: 1px solid var(--bgcolor-aktive);
    }
}
.auth-form__submit {
    width: 200px;
    height: 30px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #303030;
    background-color: transparent;
    border-radius: 30px;

    border: 1px solid #303030;
    box-shadow: 0px 8px 43px #00000059;

    transition: color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    border 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover, &:focus {
        border: none;
        background-color: var(--bgcolor-aktive);
        color: #ffffff;
        box-shadow: 0px 8px 10px rgba(255, 107, 1, 0.6);
    }
}
//----------------------------------------------------------------- end of firebase sector-----------------

.error-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;

    padding-bottom: 60px;
}
.error-img {
    width: 30%;
}
.error-text {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;

    @media screen and (min-width: 320px) {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.04em;
}

@media screen and (min-width: 1280px) {
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
}

@media screen and (min-width: 768px) {
    .queue-btn {
        width: 36px;
    }
}

@media screen and (min-width: 768px) {
    .queue-btn {
        width: 16px;
    }
}

.btn-aktive {
        width: 130px;
            height: 44px;
            color: #FFFFFF;
            background: #FF6B01;
            box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
            border-radius: 5px;
}
@media screen and (min-width: 768px) {
    .btn-aktive {
        width: 152px;
    }
}

@media screen and (min-width: 768px) {
    .btn-aktive {
        width: 147px;
    }
}

.btn-text {
    font-weight: 500;
        font-size: 12px;

        line-height: calc(16px /12px);
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.btn-text-library {
    font-weight: 500;
    font-size: 12px;

    line-height: calc(16px /12px);
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.btn {
width: 130px;
    height: 44px;
    border: #FFFFFF solid 1px;
    background-color: transparent;
    border-radius: 5px;

    transition: border-radius 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    box-shadow 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 768px) {
    .btn {
        width: 152px;
    }
}

@media screen and (min-width: 1200px) {
    .btn {
        width: 147px;
    }
}
.btn:hover,
.btn:focus {
        width: 130px;
        height: 44px;
        color: #FFFFFF;
        background: #FF6B01;
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
        border-radius: 5px;
        // border-radius: 0 30px;
}
@media screen and (min-width: 768px) {
    .btn:hover,
    .btn:focus {
        width: 152px;
    }
}

@media screen and (min-width: 1200px) {
    .btn:hover,
    .btn:focus {
        width: 147px;
    }
}

.div-btn {
    margin-right: 50px;
}