.header_library {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library-background-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin: 0px auto;
    height: 230px;

}

@media screen and (min-width: 768px) {
    .header_library {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library-background-tab.jpg);
        height: 216px;
    }
}

@media screen and (min-width: 1280px) {
    .header_library {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library-background.jpg);
        height: 216px;
    }
}

.film {
    width: 24px;
    height: 24px;

}

.navigation-main-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.navigation-list-ferst {
    display: flex;
    gap: 8px;
    padding-top: 40px;

}

.navigation-list-second {
    display: flex;
    gap: 40px;
    padding-top: 49px;

}

.nav-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14px /12px);
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.nav-logo {
    font-weight: 500;
    font-size: 30px;

    line-height: calc(35px /30px);
    display: none;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .nav-logo {
        display: flex;
    }
}

.aktive {
    position: relative;
}

.aktive::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #FF001B;
    // border-radius: 5px;
    left: 0;
    bottom: -3px;
}

.btn-list {
    display: flex;
    margin-top: 63px;
    justify-content: center;
}

.queue-btn {
margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .queue-btn {
        width: 36px;
    }
}

@media screen and (min-width: 768px) {
    .queue-btn {
        width: 16px;
    }
}

.btn-aktive {
        width: 130px;
            height: 44px;
            color: #FFFFFF;
            background: #FF6B01;
            box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
            border-radius: 5px;
}
@media screen and (min-width: 768px) {
    .btn-aktive {
        width: 152px;
    }
}

@media screen and (min-width: 768px) {
    .btn-aktive {
        width: 147px;
    }
}

.btn-text {
    font-weight: 500;
        font-size: 12px;

        line-height: calc(16px /12px);
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.btn-text-library {
    font-weight: 500;
    font-size: 12px;

    line-height: calc(16px /12px);
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.btn {
width: 130px;
    height: 44px;
    border: #FFFFFF solid 1px;
    background-color: transparent;
    border-radius: 5px;
}
@media screen and (min-width: 768px) {
    .btn {
        width: 152px;
    }
}

@media screen and (min-width: 1200px) {
    .btn {
        width: 147px;
    }
}
.btn:hover,
.btn:focus {
        width: 130px;
        height: 44px;
        color: #FFFFFF;
        background: #FF6B01;
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
        border-radius: 5px;
}
@media screen and (min-width: 768px) {
    .btn:hover,
    .btn:focus {
        width: 152px;
    }
}

@media screen and (min-width: 1200px) {
    .btn:hover,
    .btn:focus {
        width: 147px;
    }
}