

.header_home {
    background-color: #2F303A;
    background-image: url(/src/images/abstract-background-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin: 0px auto;
    height: 230px;

}

@media screen and (min-width: 768px) {
    .header_home {
        background-image: url(/src/images/abstract-background-tab.jpg);
        height: 216px;
    }
}

@media screen and (min-width: 1280px) {
    .header_home {
        background-image: url(/src/images/abstract-background.jpg);
        height: 216px;

    }
}

.film {
    width: 28px;
    height: 24px;
    position: relative;
  bottom: 23px;
  //  stroke: #FFFFFF;
  
    
  &:hover,
  &:focus,
  &:active {
    animation-play-state: paused;
    stroke: #FF001B;
  }

  animation: pulsing 2s infinite;}


@keyframes pulsing {
  0% {
  
    transform: scale(0.8, 0.8) rotate(10deg);
  }
  50% {
  
    transform: scale(1.0, 1.0) rotate(0deg);
  }
  100% {

    transform: scale(0.8, 0.8) rotate(10deg);
  }
  
}


.film-icon {
  overflow: visible;
}


.navigation-main-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.navigation-list-ferst {
    display: flex;
    gap: 8px;
    padding-top: 40px;

}

.navigation-list-second {
    display: flex;
    gap: 40px;
    padding-top: 49px;

}

.nav-text {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14px /12px);
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all linear 250ms;
}

.nav-text:hover {
  font-weight: 900;
  color: #cbcbcb;
}

.nav-logo {
    font-weight: 500;
    font-size: 30px;

    line-height: calc(35px /30px);
    display: none;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    transition: all linear 250ms;
}

.navigation-item-ferst:hover {
  .nav-logo{
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
    .nav-logo {
        display: flex;
    }
}

.aktive {
    position: relative;
}

.aktive::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #FF001B;
    // border-radius: 5px;
    left: 0;
    bottom: -3px;
}

.search-form {
    top: 53px;
  display: flex;
  position: relative;
  width: 280px;
  margin: 0 auto 22px;
  justify-content: center;
}

.search-input {
    width: 100%;
    background-color: transparent;
    width: 280px;
    height: 20px;
    border-color: transparent;
    font-size: 14px;
    border-bottom-color: #FFFFFF;
    line-height: calc(16px /14px);
    color: #FFFFFF;


        &::placeholder {

            font-size: 14px;
            line-height: calc(16px /14px);
            text-justify: auto;
            color: #757171;

    }
&:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 1px solid #FF001B;
  }
 transition-property: border-bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}


.search-btn {
position: absolute;
  left: 0;
  bottom: 4px;



  padding: 0;

  background-color: transparent;
  border: transparent;

  color: #FFFFFF;
  .search-input:focus ~ & {
    color: #FF001B;
  }
}
.search-icon{
    position: absolute;
  left: 260px;
  bottom: 2px;
  stroke: #FFFFFF;
    fill: none;
  &:hover,
  &:focus,
  &:active {
    stroke: #FF001B;
    cursor: pointer;
  }
 
}

@media screen and (min-width: 768px) {
    .search-input {
        width: 336px;
    }
}

@media screen and (min-width: 1280px) { 
    .search-input {
        width: 394px;
    }
}

.error {
margin-top: 80px;
    font-size: 14px;
    line-height: calc(16px /14px);
    align-items: center;
    text-align: center;
    color: #FF001B;
}

.navigation-item-ferst {
  margin: auto;
  cursor: pointer;
}

// input.search-input::-ms-clear {
//   display: none;
//   width: 0;
//   height: 0;
// }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}