.dynamic-gallery {
    min-height: 340px;
    display: flex;
}

.dynamiv-gallery-container {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
}

.dynamic-gallery__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(253, 251, 251, 0.5);
    top: 2px;
    right: 10px;
    width: 32px;
    height: 32px;
    z-index: 100;
    border-radius: 50%;
    border: none;
    transition: background-color 300ms linear;

    &:hover {
        background-color: #fff;

    }
}

.dynamic__gallery__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 1rem;
    position: absolute;
}

.marquee__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 420px;
    height: 280px;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 6px;
    flex-shrink: 0;
}

.marquee__photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 15/10;
}

.marquee__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6;
}

@media screen and (max-width: 767px) {
    .dynamic-gallery {
        min-height: 210px;
        display: flex;
    }

    .marquee__photo {
        width: 280px;
        height: 160px;
    }
}