.modal-student--bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
}

#cnv {
    display: block;
    width: 100%;
    height: 100%;
}

.modal-student {
    background-color: #303030;
    max-height: 90%;
    overflow: auto;
    width: 90%;
    max-width: 1280px;
    padding: 32px 16px 16px;
    border: #000 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    border-radius: 30px;

}

.modal-student__btn-close {
    display: flex;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #000 1px solid;
    background-color: transparent;
    align-items: center;
    justify-content: center;

    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: rgb(221, 53, 53);
        transform: scale(1.1);
    }
}

// Team

.student__title {
    margin-bottom: 10px;
    text-align: center;
    color: #000;
    font-weight: 700px;
    font-size: 32px;
    line-height: 1.2;
}

.student__title span {
  position: relative;
}

.student__title svg {
  position: absolute;
  left: -4px;
  top: -10px;
}

.student__sub-title {
    text-align: end;
    color: #757575;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.student__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}



.student__card {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    box-shadow 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
      background-color: var(--bgcolor-aktive);
    }
  }

  .student__photo {
    position: relative;
  }

  .student__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .student__info {
    padding-bottom: 16px;
    padding-top: 30px;
    background-color: #1e1e1e;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .student__name {
    margin-bottom: 10px;
  
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }

  .student__position {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 30%;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.2;
  }

//   Social

.student__social__list {
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.student__social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        background-color: #000000;
        color: rgb(221, 53, 53);
    }
}

.student__social__link svg {
    fill: currentColor;
}

// Response

  @media screen and (min-width: 480px) {
    .modal-student {
        width: 85%;
        padding: 32px;
    }

    .student__title {
        font-size: 36px;
    }

    .student__list {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    .student__title {
        font-size: 42px;
    }

    .student__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }