 .fogging {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    
    font-weight: 500;
    font-size: 12px;

   

    background: rgba(0, 0, 0, 0.2);
    // transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    //         visibility 700ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 700ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-close {
    position: absolute;
    top: 11px;
    right: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
   
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: rotate(180deg);
        fill: #FFFFFF;
        background-color: var(--bgcolor-aktive);
        
    }
}
.modal-icon-close {
    background: transparent;
}

.modal-window {
    width: 100%;
    padding: 48px 20px 40px;
    // min-height: 500px;

    @media screen and (min-width:320px) {
        width: 280px;
        
        // min-height: 940px;
    }
    @media screen and (min-width:768px) {
        width: auto;
        padding: 40px 72px 40px 40px;
        // min-height: 552px;
    }
    @media screen and (min-width:1280px) {
        padding: 40px 12px;
        width: auto;
        min-height: auto;
    }

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;

    // transform: translate(-50%, -50%);
    // transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
    

    .fogging.is-hidden & {
        // transform: translate(-50%, -50%) rotateX(90deg);
        transform: translate(0, 0) scale(0) rotate(180deg);
    }
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
// ----------------- INLINE DATA -------------------------
.modal_card_container {
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
}


.modal_pict_container {
    width: 240px;
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
        min-width: 264px;
        height: 374px;
        margin-right: 68px;
    }
    @media screen and (min-width:1280px) {
    //    width: 375px;
       height: 396px;
       margin-right: 16px;
       margin-bottom: 0;
       & img {height: 396px;}
    }
}


.modal_text_container {
    @media screen and (min-width:768px) {
       width: 264px;
    }
    @media screen and (min-width:1280px) {
       width: 391px;
    }
}
.film_title {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}


.modal_filminfo {
    display: flex;
    flex-wrap: wrap;
    width: 240px;

}
.filminfo_left {
    min-width: 100px;

    font-weight: 500;
    line-height: 16px;

    color: #8C8C8C;
}
.filminfo_right {
    width: 140px;
    line-height: 16px;

    color: #000000;
}
.modal_filminfo-data {
    display: inline-block;
    margin-bottom: 8px;
}
.vote_highlighted {
    display: inline-block;
    padding-top: 1px;
    padding-left: 8px;
    width: 36px;
    height: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    vertical-align: middle;

    color: #FFFFFF;
    background: var(--bgcolor-aktive);
    border-radius: 5px;
}
// .vote_highlighted-main {
//     display: inline-block;
//     padding-top: 3px;
//     padding-left: 11px;
//     width: 40px;
//     height: 20px;

//     font-weight: 500;
//     font-size: 12px;
//     line-height: 1.17;
//     color: #FFFFFF;
//     background: var(--bgcolor-aktive);
//     border-radius: 5px;
// }
.leveling {
    text-align: center;
}


.modal_text_container-about {
    margin-bottom: 8px;
    margin-top: 20px;
}
.modal_text_container-overwiew {
    margin-bottom: 20px;
    line-height: 1.66;
}
.to-upercase {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}


.modal_btn_container {
    display: flex;
    gap: 20px;
    // margin-top: auto;
}

.no-scroll {
    overflow: hidden;
}

