.gallery {
    padding-top: 20px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .gallery {
        padding-top: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .gallery {
        padding-top: 60px;
    }
}

.film-genre {
    padding: 0 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px /20px);
    color: #FF6B08;
    vertical-align: baseline;
}

.film-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px /20px);
    margin-top: 10px;
   padding: 0 8px;
    text-transform: uppercase;
}

.film-item {
    display: flex;
    transition: all linear 250ms;
    border-radius: 8px;
}

.film-item:hover {

  cursor: pointer;
  transform: scale(1.02);
-webkit-box-shadow: 0px 8px 68px -7px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 8px 68px -7px rgba(255, 0, 0, 1);
    box-shadow: 0px 8px 68px -7px rgba(255, 0, 0, 1);
}

.film-img {
    width: 100%;
    border-radius: 5px;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .film-list {
        // justify-content: space-between;
        
        // max-width: 768px;
        grid-row: 32px;
    }
}
// @media screen and (min-width: 1280) {
//     .film-list {
//         // grid-row: 16px;
//         // gap: 16px;
//         // min-width: 1280px;
//   }
// }
.films {
    width: 280px;
}

@media screen and (min-width: 768px) {
    .films {
        width: 336px;
    }
}

@media screen and (min-width: 1280px) {
    .films {
        width: 392px;
    }
} 

.text-img {
    width: 280px;
    height: 402px;
    background-color: #c2bbb6;
    font-weight: 500;
    font-size: 50px;
    line-height: calc(65px /50px);
    border-radius: 5px;
    text-align: center;
    padding-top: 100px;
}
@media screen and (min-width: 768px) {
    .text-img {
        width: 336px;
        height: 455px;
    }
}

@media screen and (min-width: 1280px) {
    .text-img {
        width: 394px;
        height: 574px;
    }
}

.text-smile {
    font-weight: 500;
        font-size: 65px;
        line-height: calc(80px /65px);
}