.gallery {
    padding-top: 20px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .gallery {
        padding-top: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .gallery {
        padding-top: 60px;
    }
}

.film-genre {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px /20px);
    color: #FF6B08;
}

.film-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px /20px);
    margin-top: 10px;
    padding-left: 0px;
    text-transform: uppercase;
}

.film-item {
    display: flex;
}

.film-img {
    width: 100%;
    border-radius: 5px;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .film-list {
    justify-content: space-between;
    gap: 32px;
    }
}
@media screen and (min-width: 768px) {
    .film-list {
        gap: 16px;
    }
}
.films {
    width: 280px;
    gap: 32px;
    // gap: 32px;

}

@media screen and (min-width: 768px) {
    .films {
        width: 336px;
        // gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .films {
        width: 394px;
    }
} 

.text-img {
    width: 280px;
    height: 402px;
    background-color: #c2bbb6;
    font-weight: 500;
    font-size: 50px;
    line-height: calc(65px /50px);
    border-radius: 5px;
    text-align: center;
    padding-top: 100px;
}
@media screen and (min-width: 768px) {
    .text-img {
        width: 336px;
        height: 455px;
    }
}

@media screen and (min-width: 1280px) {
    .text-img {
        width: 394px;
        height: 574px;
    }
}

.text-smile {
    font-weight: 500;
        font-size: 65px;
        line-height: calc(80px /65px);
}