body.dark-theme {
    color: var(--color-aktive);
    transition: background-color .3s;
    background-color: #21282F;
    
    & .switch__wrap {
    border: #8e1d2b solid 1px;
    }
    & .footer a:hover {
       color: var(--bgcolor-aktive);
    };
    & .switch__control {
        transform: translateX(calc(100% - 2px));
    };
    & .modal-window {
        background-color: #303030;
        color: var(--color-aktive);
    };
    & .film-title {
        color: var(--color-aktive);
    };
    & .modal_text_container-overwiew {
        color: var(--color-aktive);
    };
    & .modal_text_container-about {
        color: var(--bgcolor-aktive) ;
    };
    & .vote_highlighted {
        color: var(--color-aktive);
    };
    & .btn-close {
        fill: var(--bgcolor-aktive);
        transition:fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            transform: rotate(180deg) scale(1.2);
            fill: #FFFFFF;
            background-color: var(--bgcolor-aktive);
        }
    };
    & .modal_btn_container button {
        color: #FFFFFF;
    }
}

body.light-theme {
    background-color: var(--color-aktive);
    color: var(--color-text);
    transition: background-color .3s;

    & .footer a:hover {
        color: var(--bgcolor-aktive);
    };

    & .modal-window {
        background-color: #fff;
        color: var(--color-text);
    };

    & .modal_text_container-about {
        color: var(--bgcolor-aktive) ;
    };
    & .btn-close {
        transition:fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            transform: rotate(180deg) scale(1.2);
            fill: #FFFFFF;
            background-color: var(--bgcolor-aktive);
        }
    };
}

.light-theme {
    background-color: #F7F7F7;
    color: #545454;
    transition: background-color .3s;
}

.dark-theme {
    color:  var(--color-aktive);
    background-color: #1a1f24;
    transition: background-color .3s;
}


.switch__wrap {
    margin-top: 105px;
    margin-left: -60px;
    width: 50px;
    height: 30px;
    background-color: #222d33;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 2px 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}

@media screen and (max-width: 420px) {
    .switch__wrap {
       position: relative;
       left: 50px;
    }
}

@media screen and (min-width: 768px) {
    .switch__wrap {
        margin-left: 40px;
        margin-top: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .switch__wrap {
        margin-left: 50px;
    }
}

.switch__wrap::before {
    background-size: 15px 15px;
    background-repeat: no-repeat;
    left: 6px;
    background-image: url("https://www.freeiconspng.com/uploads/sun-icon-22.png");
}

.switch__wrap::after {
    background-size: 15px 15px;
    background-repeat: no-repeat;
    right: 6px;
    background-image: url("https://www.freeiconspng.com/uploads/crescent-moon-png-18.png");
}

.switch__wrap::before, .switch__wrap::after{
    content: "";
    display: block;
    top: 50%;
    margin-top: -7px;
    height: 15px;
    width: 15px;
    position: absolute;
}

.switch__control {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
    transition: transform .25s cubic-bezier(.4,0,.2,1);
    transform: translate(1px);
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
}
