@import './base';

@import './common';


@import './back-to-the-top';
@import './header-home';
// @import './btn-auth';
@import './header-library';
@import './switch-color.scss';
@import './switch-library';
@import './modal-film';
@import './section';
@import './marquee';

// @import './koma-styles';
@import './pagination';

@import './footer';
@import './modal-student';
@import './preloader'
