<header class="header_library js-header">

    <div class="container">
        <nav class="navigation">
            <ul class="navigation-main-list list">
                <li class="navigation-main-item">
                    <ul class="navigation-list-ferst list">
                        <li class="navigation-item-ferst"><a href="./index.html" class="navigation__link link"><svg class="film-icon" width="24" height="24"><use href="./images/icons.svg#icon-search-2"></use></svg><img class="film" src="/src/images/film.png" alt = "film-icon" ></a></li>
                        <li class="navigation-item-ferst"><a href="./index.html" class="navigation__link link"><span
                                    class="nav-logo">Filmoteka</span></a></li>
                    </ul>
                </li>
                <li class="navigation-main-item">
                    <ul class="navigation-list-second list">
                        <li class="navigation-item-second"><a href="./index.html" class="navigation__link link"><span
                                    class="nav-text">HOME</span></a></li>
                        <li class="navigation-item-second  aktive"><a href="./library.html"
                                class="navigation__link link"><span class="nav-text">MY LIBRARY</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="change-color">
            <div class="change-color__wrap"> 
               <div class="change-color__control"></div>
            </div>
        </div>
        <div class="header-two-input">
        <div class="div-btn">
        <ul class="btn-list list">
            <li class="btn-item"><button class="watched-btn btn" type="button"><span
                        class="btn-text">WATCHED</span></button></li>
            <li class="btn-item"><button class="queue-btn btn" type="button"><span
                        class="btn-text">QUEUE</span></button></li>
        </ul>
        </div>
    </div>
    </div>
</header>

