
<header class="header_home js-header">
    <div class="container">
        <nav class="navigation">
            <ul class="navigation-main-list list">
                <li class="navigation-main-item">
                    <ul class="navigation-list-ferst list">
                        <li class="navigation-item-ferst"><a href="./index.html" class="navigation__link link">
                            <!-- <svg class="film-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-search-2"></use>
                            </svg> -->
                            <!-- <img class="film" src="/src/images/film.png" alt = "film-icon" > -->

                            <svg class="film-icon" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-film" class="film"></use>
                            </svg>
                        </a>
                    </li>
                        <li class="navigation-item-ferst"><a href="./index.html" class="navigation__link link"><span class="nav-logo">Filmoteka</span></a></li>
                    </ul>
                </li>
                <li class="navigation-main-item">
                    <ul class="navigation-list-second list">
                        <li class="navigation-item-second"><a href="./index.html"
                                class="navigation__link link aktive"><span class="nav-text">HOME</span></a></li>
                        <li class="navigation-item-second js-library"><a href="./library.html"
                                class="navigation__link link"><span class="nav-text">MY LIBRARY</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header-two-input">
        <div class="void">zagluschka</div>
        <div class="header-form">
        <form class="search-form" id="search-form">
            <input type="search" class="search-input" name="searchInput" autocomplete="off" placeholder="Search for a movie" />
            <button type="submit" class="search-btn">
                <svg class="search-icon" width="12" height="12">
                    <use href="./images/icons.svg#icon-search-2"></use>
                </svg>
            </button>

            </div>
        </form>
        </div>
        <div class="switch">
            <div class="switch__wrap">
                <svg class="icon-moon" width="17" height="17">
                    <use href="/src/images/icons.svg#icon-sun"></use>
                </svg>
                <div class="switch__control">
                    <input type="checkbox" class="switch__input" id="switch__input">
                    <label class="switch__label" for="switch__input"></label>
                    <div class="switch__marker"></div>
                </div>
                <svg class="icon-sun" width="17px" height="17px">
                    </use>
                    <use href="/src/images/icons.svg#icon-moon"></use>
                </svg>
            </div>
        </div>
</div> 


        <div class="error"></div>

    </div>
</header>