<!DOCTYPE html>
<header class="header_home">
    <div class="container">
        <nav class="navigation">
            <ul class="navigation-main-list list">
                <li class="navigation-main-item">
                    <ul class="navigation-list-ferst list">
                        <li class="navigation-item-ferst"><a href="./index.html" class="navigation__link link"><img class="film" src="/src/images/film.png"></a></li>
                        <li class="navigation-item-ferst"><a href="./index.html" class="navigation__link link"><span class="nav-logo">Filmoteka</span></a></li>
                    </ul>
                </li>
                <li class="navigation-main-item">
                    <ul class="navigation-list-second list">
                        <li class="navigation-item-second"><a href="./index.html" class="navigation__link link aktive"><span class="nav-text">HOME</span></a></li>
                        <li class="navigation-item-second"><a href="./library.html" class="navigation__link link"><span class="nav-text">MY LIBRARY</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <form class="search-form" id="search-form">
        
            <input type="text" class="search-input" name="searchInput" autocomplete="off" placeholder="Movie search" />
            
        </form>
        <div class="error"></div>
    </div>
</header>